body{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: #111;
    padding: 0 !important;
    height: 80px;
    color:white;
}
.navbar-left{
    fill: white;
    margin-left: 36px;
}
.navbar-left:hover{
    fill:red;
    cursor: pointer;
}
.navbar-left:hover .drop-down{
    color: red;
}
.navbar-center{
    margin-left: 22px;
}
.drop-down{
    margin-left: 2px;
    color:grey;
    font-size: 10px;
}
.items{
    letter-spacing: .08em;
    font-weight: 600;
    line-height: 1.5;
    font-size: 13px;
    font-family: 'SANS-SERIF','Segoe UI';
    margin: 7px 0 7px 0;
    padding: 7.5px 16px;
}
.items:hover{
    background: rgba(128,128,128,.3);
    border-radius: 12px;
    cursor: pointer;
}
.nav-link.active{
    padding:0!important;
}
.btn-play{
    border-radius: 12px;
    letter-spacing: .08em;
    font-family: 'SANS-SERIF','Segoe UI';
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:6px 16px;
    background: linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
    margin-right: 32px;
}
.language{
    margin:10px;
    padding:7px;
}
.language:hover{
    background: rgba(128,128,128,.3);
    border-radius: 12px;
    cursor: pointer;
}
.drop-info{
    position: relative;
}
.dropped-info{
    border-top:solid aqua 1px;
    position: absolute;
    top:39px;
    background-color: #292929;
    text-align: left;

}
.dropped-info li{
    display: flex;
    justify-content: center;
    align-items: left;
    list-style: none;
    text-decoration: none;
    margin: 7px 0 7px 0;
    padding: 7.5px 16px;
    line-height: 16px;
    letter-spacing: .08em;
    font-weight: 600;
    line-height: 1.5;
    font-size: 13px;
    font-family: 'SANS-SERIF','Segoe UI';
}
.drop-info:hover .dropped-info{
   display: initial;
}