    *{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: #111;
    padding: 0 !important;
    height: 80px;
    color:white;
    position: fixed!important;
    z-index: 20000;
    width: 100%;
    Top:0;
}
.navbar-left{
    fill: white;
    margin-left: 36px;
}
.navbar-left:hover{
    fill:red;
    cursor: pointer;
}
.navbar-left:hover .drop-down{
    color: red;
}
.navbar-center{
    margin-left: 22px;
}
.drop-down{
    margin-left: 2px;
    color:grey;
    font-size: 10px;
}
.items{
    letter-spacing: .08em;
    font-weight: 600;
    line-height: 1.5;
    font-size: 13px;
    font-family: 'SANS-SERIF','Segoe UI';
    margin: 7px 0 7px 0;
    padding: 7.5px 16px;
    width: auto;
    position: relative;
}
.items:hover{
    background: rgba(128,128,128,.3);
    border-radius: 12px;
    cursor: pointer;
}
.nav-link.active{
    padding:0!important;
}
.btn-play{
    border-radius: 12px;
    letter-spacing: .08em;
    font-family: 'SANS-SERIF','Segoe UI';
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:6px 16px;
    background: linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
    margin-right: 32px;
}
.language{
    margin:10px;
    padding:7px;
}
.language:hover{
    background: rgba(128,128,128,.3);
    border-radius: 12px;
    cursor: pointer;
}

.drop-info{
    position: relative;
    width: 100%;

}
.dropped-info li{
    display: flex;
    align-items: left;
    list-style: none;
    text-decoration: none;
    padding: 8px 16px;
    line-height: 16px;
    letter-spacing: .08em;
    font-weight: 600;
    line-height: 1.5;
    font-size: 13px;
    font-family: 'SANS-SERIF','Segoe UI';
    color:#c7c7c7;
}
.dropped-info li:hover{
    background: rgba(128,128,128,.3);
    border-radius: 6.4px;
    color:#fcfcfc;
}

.dropped-info:hover{
    visibility: visible;
}
.dropdown-info:hover .dropped-info{
    visibility: visible;

}
.drop-info ul{
    position: absolute;
    top:30px;
    background-color: #292929;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    padding:0;  
}
.underline{
    width: 100%;
    border-radius: 6.4px;
    height: 4px;
    padding:0!important;
    background-color: rgb(255, 70, 85);
    Top:10px;
}
.row .intro .video video{
    object-position: center;
    object-fit: cover;
    box-sizing: border-box;
}
.row .intro .video{
    top: 0;
    bottom: 0;
    height: 36vw;
    width: 100%;
    position: absolute;
    overflow: hidden;
}
.text-intro{
    width: 74%!important;
    position: relative;
    top:80px;
    z-index: 5;
    color: white;
}
.intro-des{
    width: 100%;
    font-size: 16px;
    text-shadow: 0 0 0.75em rgb(0 0 0 / 50%);
}
.intro-name svg{
    height: auto;
    width: 85%;
}
